/* // -- JAVASCRIPT CAFE CSS -- // */

body {
	background: white;
	background-image: linear-gradient(90deg, rgba(208,232,234,.5) 50%, transparent 0), linear-gradient(rgba(208,232,234,.5) 50%, transparent 0);
	background-size: 100px 100px;
	font-family: 'Fira Code', monospace;
	text-align: center;
}

p {
	font-size: 2vw;
	font-weight: 400;
}

h1 {
	font-size: 4vw;
	font-weight: 700;
}

.container {
	background-color: rgba(255, 255, 255, 0.65);
	border: 3px solid black;
	border-radius: 3px;
	width: 60%;
	height: auto;
	padding: 0px 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	backdrop-filter: blur(11.7px);
	-webkit-backdrop-filter: blur(11.7px);
}

.button {
	font-family: 'Fira Code', monospace;
	font-size: 1.5vw;
	font-weight: 500;
	display: inline-block;
	outline: 0;
	cursor: pointer;
	border: 3px solid black;
	border-radius: 3px;
	color: white;
	background: black;
	padding: 12px 20px;
	text-align: center;
	transition-duration: .15s;
	transition-property: all;
	transition-timing-function: cubic-bezier(.4,0,.2,1);
	margin: 0px 15px 15px 15px;
}

button:hover {
	color: black;
	background-color: rgba(255, 255, 255, 0.65);
	backdrop-filter: blur(11.7px);
	-webkit-backdrop-filter: blur(11.7px);
}

.outOfStock {
  color: red;
  text-decoration: line-through;
}

.menuItem {
  display: flex;
  /* align-content: center; */
  justify-content: center;
  align-items: baseline;
  gap: 1vw;
  /* border: 1px solid black; */
}

.restock {
  position: relative;
  border: 2px solid black;
  top: -5px;
  background-color: grey;
  height: fit-content;
  font-size: 1.1vw;
  padding: 10px;
}

.restock:hover {
  background-color: #dcedee;
}

.history {
  font-size: 1.2vw;
  text-align: left;
}

.hidden {
  display: none;
}

#orderHistory {
  min-height: 50px;
}

#homeLink {
  position: absolute;
  top: 20px;
  left: 20px
}