:root {
  font-family: 'Nunito Sans', sans-serif;
}

* {
  margin: 0
}

.banner {
  width: 100vw;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(209, 209, 209) 68%
  );
}

@property --position {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

@property --position2 {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

@property --position3 {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

.banner {
  text-align: center;
  padding-top: 20vh;
}

.banner h1 {
  margin: 0;
  
  animation: 10s shine infinite;

  background: linear-gradient(
    106deg,
    black,
    black,
    rgb(255, 165, 0) var(--position),
    rgb(255, 206, 116) var(--position2),
    rgb(241, 132, 30) var(--position3),
    black,
    black
  );
  background-clip: text;
  font-size: 87;
  font-family: 'Orbitron';
  color: transparent;

  -webkit-text-stroke: 1px black;
  
}

@keyframes shine {
  0% {
    --position: 0%;
    --position2: 3%;
    --position3: 6%;
  }
  50% {
    --position: 94%;
    --position2: 97%;
    --position3: 100%;
  }
  100% {
    --position: 0%;
    --position2: 3%;
    --position3: 6%;
  }
}
