/*
Color Pallette
#C64E00
#E35A00
#F48018
#E9992F
#F7B538
*/

.container {
  background-color: #ffffff;
  /* max-width: 92vw;
  margin-left: auto;
  margin-right: auto; */
}

.tileLayout {
  /* background-color: #f7b538; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px;
  /* max-width: 50vw; */
}

.tile {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  width: 400px;
  filter: drop-shadow(0 8px 8px gray);
}

.tileImage {
  border-radius: 10px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.blogTech:hover {
  filter: drop-shadow(0 10px 10px #f7b538);
}

.blogCore:hover {
  filter: drop-shadow(0 10px 10px #f48018);
}

.blogOther:hover {
  filter: drop-shadow(0 10px 10px #c64e00);
}
