.container {
  background-color: lightgray;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.tileLayout {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px;
  /* max-width: 50vw; */
}

.tile {
  background-color: white;
  max-width: 30%;
  min-width: 200px;
  padding: 10px;
}

.img {
  /* height: auto; */
  max-width: 100%;
  object-fit: contain;
}
