.codeBlock {
  font-family: monospace;
  background-color: #272822;
  padding: 30px;
  color: var(--grey1);
  border: 1px solid var(--grey1);
  border-radius: 10px;
  line-height: 2;
}

.relativeExample {
  color: currentColor;
  font-weight: 700;
  font-family: 'Merienda';
  padding: 5px 40px 5px 40px;
  text-align: center;
  border: 2px solid currentColor;
  border-radius: 6px;
}

.tag {
  color: orange;
}
